---
import BaseLayout from '../layouts/BaseLayout.astro';
import FeaturedArticles from '../components/FeaturedArticles.astro'
import { settings } from '../settings'
---

<BaseLayout {}>
	<section>
		<div class="relative py-20 radius-for-skewed"
			style={`background-image: url('${settings.home_image}'); background-size: cover; background-repeat: no-repeat; background-position: center;`}>
			<div class="absolute inset-0 bg-gray-900 opacity-80 radius-for-skewed"></div>
			<div class="container mx-auto px-4 relative">
				<div class="max-w-md text-center mx-auto">
					<span class="text-green-600 font-bold">Using ✨<a href="https://astro.build/" class="underline text-gray-100">Astro</a>✨ for <em>great</em> performance</span>
					<h2 class="text-4xl lg:text-5xl text-white font-bold font-heading">Developer Blog that pushes to <a
							href="https://medium.com" class="font-display max-w-sm text-green-600 font-bold leading-tight"><span
								class="link link-underline link-underline-black">Medium</span></a> and <a class="font-display max-w-sm text-green-600 font-bold leading-tight"
							href="https://dev.to/"><span class="link link-underline link-underline-black">dev.to</span></a></h2>
					<div class="mb-6 max-w-sm mx-auto">
						<p class="text-gray-400 leading-loose">Blog template by <a href="https://christopherkapic.com/" class="link font-bold">Christopher Kapic</a> using Astro, TailwindCSS, and NetlifyCMS. Deploy in an instant for free with Netlify:</p>
					</div>
						<a class="inline-block" href="https://app.netlify.com/start/deploy?repository=https://github.com/christopher-kapic/astro-devblog"><img src="https://www.netlify.com/img/deploy/button.svg" alt="Deploy to Netlify"></a>
				</div>
			</div>
		</div>
	</section>
	<FeaturedArticles/>
</BaseLayout>

<style>
	.link-underline {
		border-bottom-width: 0;
		background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
		background-size: 0 3px;
		background-position: 0 100%;
		background-repeat: no-repeat;
		transition: background-size .5s ease-in-out;
	}

	.link-underline-black {
		background-image: linear-gradient(transparent, transparent), linear-gradient(#16A34A, #16A34A)
	}

	.link-underline:hover {
		background-size: 100% 3px;
		background-position: 0 100%
	}
</style>